.li-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  height: 70vh;
}

.li-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 18px;
}

.li-form-container {
  padding: 24px;
  padding-top: 15px;
  /* height: 320px; */
  width: 300px;
  background-color: white;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
  margin-bottom: 24px;
}

.li-form-container label {
  font-size: 15px;
  margin: 4px;
  font-weight: bold;
  color: hsla(210, 8%, 5%, 1);
  padding: 2px;
}

label input {
  border: 1px solid hsla(210, 8%, 75%, 1);
  border-radius: 3px;
  color: hsla(210, 8%, 5%, 1);
  font-size: 15px;
  padding: 8px 9px;
  width: 92%;
  margin-bottom: 5px;
}

.li-login {
  color: white;
  font-size: 13px;
  background-color: rgb(91, 105, 123);
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  margin:  5px 0;
  width: 100%;
  font-weight: bold;
}

.li-login:hover {
  background-color: #F7BE56;
}

.errors {
  font-size: 12px !important;
  padding: 5px;
}

.redirect-su {
  text-align: center;
  font-size: 13px;
}

.su-main-container {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.su-form {
  padding: 24px;
  padding-top: 15px;
  height: auto;
  width: 300px;
  background-color: white;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
  margin-bottom: 24px;
}

.su-form-container label {
  font-size: 15px;
  margin: 4px;
  font-weight: bold;
  color: hsla(210, 8%, 5%, 1);
  padding: 0 2px;
}

label input {
  border: 1px solid hsla(210, 8%, 75%, 1);
  border-radius: 3px;
  color: hsla(210, 8%, 5%, 1);
  font-size: 15px;
  padding: 8px 9px;
  width: 92%;
  margin-top: 7px;
}

.su-signup {
  color: white;
  font-size: 13px;
  background-color: rgb(91, 105, 123);
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  margin: 10px 0;
  width: 100%;
  font-weight: bold;
  
}

.su-signup:hover {
  background-color: #F7BE56;
}

.errors {
  color: red;
}

h3 {
  margin: 10px auto;
}