.main-container-trackshow {
    display: flex;
    width: 100vw;
    font-family: 'Vollkorn', sans-serif;
    
}

.main-container-trackshow h2 {
    border-bottom: 1px solid black;
    
    margin-top: 0;
    
}

.ts-left-container {
    width: 50%;
    margin: 0px 30px 0px 30px;
}
.ts-left-container h1 {
    /* text-align: center; */
    font-weight: bold;
    font-size: 45px;
}


.track-container {
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    /* border: 1px solid rgb(181, 181, 181);
    box-shadow: 3px 4px 0px 0px #4e57ef; */
}

.track-container span {
    font-size: 18px;
    font-weight: bold;
}

.track-add-time {

    margin-top: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 14px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(66, 81, 243);
    transition: background-color .17s ease,color .17s ease;

}

.track-add-time:hover {
    /* background-color: black;
    border: none;
    color: white; */
    transform: scale(1.07);
    background-color: rgb(48, 60, 192);
}

.track-add-time span {
    font-size: 14px;
}

.time-bar {
    padding: 9px;
    font-size: 14px;
}
.ts-right-container {
    width: 50%;
}

.ts-map {
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 6px 12px;
}