.profile-dropdown {
    position: absolute;
}

#topbar-container {
    height: 60px;
    width: 100%;
    margin: auto;
    border-top: 3px;
    border-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #F7BE56;
    background: linear-gradient(to bottom, rgb(91, 105, 123) 20%, rgb(81, 94, 110) 90%, rgb(68, 82, 99));
    font-family: 'Vollkorn', sans-serif !important;

}

.tb-initial {
    display: flex;
    align-items: center;

}

.topbar-logo {
    align-items: center;
}

.topbar-logo-img {
    width: 150px;
    height: 60px;
}

.topbar-options {
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 3px;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.topbar-options-li {
    align-items: center;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
}

.topbar-options-li>a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    white-space: nowrap;
}

.topbar-options-li>a:hover {
    color: #F7BE56;
    font-weight: bold;
}

.topbar-form {
    max-width: 660px;
    min-width: 312px;
    width: 100%;
    padding: 0px 8px 0px 8px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.topbar-search {
    color: hsla(210, 8%, 25%, 1);
    padding: 8px 9px 8px 32px;
    border: 1px solid black;
    width: 100%;
    border: 1px solid hsla(210, 8%, 75%, 1);
    border-radius: 1000px;
}

.topbar-lupa {
    height: 21px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 16px;
}

.topbar-login {
    color: rgb(91, 105, 123);
    font-size: 15px;
    background-color: #DEDEDE;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 1000px;
    align-self: center;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.topbar-login:hover {
    background-color: hsla(206, 100%, 97%, 1);
    font-weight: bold;
}

.topbar-signup {
    color: rgb(91, 105, 123);
    font-size: 15px;
    background-color: #DEDEDE;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 1000px;
    align-self: center;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.topbar-signup:hover {
    background-color: hsla(206, 100%, 97%, 1);
    font-weight: bold;
}