#root {
    margin: 0px;
    padding: 0px;
}

#navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0px;
    right: 0px;
    background: linear-gradient(to bottom, rgb(91, 105, 123) 20%, rgb(81, 94, 110) 90%, rgb(68, 82, 99));
    height: 75px;

    margin-top: 0px;
    width: 100%;
    margin: 0px;

    z-index: 999;
}

#logo-container {
    height: 70px;
    width: 160px;
    position: relative;
    top: 2px;
    left: 3px;
    border: solid 1px transparent;
    border-radius: 5px;
    padding-left: 5px;
}

#logo-container:hover {
    cursor: pointer;
}

#main-logo {
    position: absolute;
    left: -10px;
    top:-4px;
    height: 108%;
    /* border-radius: 100px; */
}

.links-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
    position: relative;
    right: 10px;
    /* width: 100%; */
    /* position: relative;
    right: 30px; */

    /* position: relative;
    right: 70px; */
    /* z-index: 999; */
}

.links-auth{

    position: relative;
    right: 30px;
    z-index: 999;

}

.links-nav .button-link,
.links-auth .button-link,
#signup,
#login,
#logout-button {
    display: inline-block;
    text-decoration: none;
    --border: 0px;
    --slant: 0.0em;
    --color: rgb(123, 123, 123);
    margin-top: 19px;
    border-radius: 2px;

    
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background:
        linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top right,
        linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left,
        linear-gradient(to top left, var(--color) 50%, #0000 50.1%) bottom right,
        linear-gradient(to bottom right, var(--color) 50%, #0000 50.1%) top left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
        0 0 0 200px inset var(--s, #0000),
        0 0 0 var(--border) inset var(--color);
    clip-path: polygon (0 0,
            calc(100% - var(--slant)) 0,
            100% var(--slant),
            100% calc(100% - var(--slant)),
            var(--slant) 100%,
            0 var(--slant));
    transition: color var(--t, 0.3s), background-size 0.3s;
}

.links-auth {
    margin-right: 5px;
    width: 120px;

}

/* .links-nav {
    margin-right: 5px;
    width: 120px;
} */

.links-nav:focus-visible .button-link:focus-visible,
.links-auth:focus-visible .button-link:focus-visible,
#signup:focus-visible,
#login:focus-visible,
#logout-butto:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
}

.links-nav:hover .button-link:hover,
.links-auth:hover .button-link:hover,
.links-nav:active .button-link:active,
.links-auth:active .button-link:active,
#signup:hover,
#login:hover,
#logout-button:hover,
#signup:active,
#login:active,
#logout-button:active {
    background-size: 100% 100%;
    color: white;
    --t: 0.2s 0.1s;
}

.links-nav:active .button-link:active,
.links-auth:active .button-link:active,
#signup:active,
#login:active,
#logout-button:active {

    --s: #0005;
    transition: none;

}

#logout-button {
    height: 35px;
    position: relative;
    top: -1px;
}

#user-name {
    text-align: right;
    margin-right: 10px;
}

#nav-search {
    border-radius: 1000px;

    /* width: 700px; */
    width: 100vh;
    height: 35px;
    border: none;
    font-family: 'Vollkorn', sans-serif;
    font-size: 17px;

    color: #000000;
  
    padding-left: 15px;
}

#nav-search:focus {
    outline: 0;
}

#nav-search-container {
    
    position: relative;
    top: 16px;
    right: 10px;
    /* margin: auto; */
    /* position: relative;
    left: 115px; */
   
    
}



#main-drop-cont{

    /* dont mess with the size of this */

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* position: relative; */
    /* left: 0px; */
    /* right: 950px; */
    /* left: 180px;
    top: 15px; */
    /* position: absolute;
    top: 10px;
    right: 25px; */
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    background-color: #dedede;
    /* background-color: red; */
    text-align: center;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    /* height: 200px; */
    height: 35px;
    padding-bottom: 7px;
    /* z-index: 999; */
    /* z-index: -1; */
    width: 150px;

}

#extender-container{


    /* position: relative;
    bottom: -50px; */
    /* background-color: blue; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /* bottom: 0px; */
    top: 5px;
    left: 6px;
    /* right: 1.5px; */
    /* border-radius: 20px; */
    width: 90%;
    background-color: #dedede;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    z-index: 0;
    padding-bottom: 5px;
    /* height: 98%; */
}

#all-track{

    /* mess with the size of this */

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 9px;
    right: 0px;

    font-size: 17px;

    text-align: center;

    z-index: 999;
    height: 25px;
 
    width: 80px;
}


#user-all-container{

    display: flex;


}


#user-profile{

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    background-color: rgb(87, 143, 138);
    height: 35px;
    width: 35px;
    top: 4px;
    /* margin-left: 10px; */
    left: 10px;
    border-radius: 50px;
    color: white;

}

#user-all-container{


    
}


#all-tracks{

    text-align: center;
    position: relative;
    top: px;
    text-decoration: none;
    font-family: 'Vollkorn', sans-serif;
    font-weight: bold;

}


#all-tracks-signin{


    position: relative;
    bottom: 13px;
    left: 35px;


}


#all-tracker{

    position: relative;
    width: 80px;
    height: 25px;
    

}

#user-name{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Vollkorn', sans-serif;

    position: relative;
    left: 5px;
    top: 1px;
    text-decoration: none;


}

#user{

    text-decoration: none;
    color: white;

}

#track-color{

    color: gray;

}