.link {
  text-decoration: none;
  color: inherit;
}

.e-main-container-box {
  display: flex;
  margin-bottom: 10px;
}

.e-l-c {
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
  border-right: 0px solid transparent;
  margin: 0;
  padding: 0;
  background-color: #F7BE56;
  display: flex;
}

.ribbon {
  writing-mode: vertical-rl;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px; 
  max-height: 100%; 
  overflow: hidden; 
}

.e-l-sec {
  border: 1px solid orange;
  writing-mode: vertical-lr;
}

.e-up-section {
  border: 1px solid black;
  border-radius: 0 4px 0 0;
  background-color: white;
  margin: 0 0px 0 0;
  padding: 0 10px;
  background-color: rgba(151, 175, 203, 0.8);
}

.e-up-section h4 {
  margin: 10px 0;
  padding: 0;
}

.e-up-section p {
  margin: 0;
  padding: 0 0 10px 0;
}

.e-low-section {
  border: 1px solid black;
  border-top: transparent;
  border-radius: 0 0 4px 0;
  background-color: #f1f1f1;
  margin: 0 0px 0px 0;
}

.e-low-section ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 0;
}

.e-low-section li {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.e-low-section li span {
  font-weight: normal;
  font-size: 14px;
}

.e-r-c {
  border-bottom: 0;
  display: flex;
  flex-direction: column;
}
