.link {
  text-decoration: none;
  color: inherit;
}


.main-container-box:hover {
  border-left: 4px solid rgb(81, 94, 110);
  border-radius: 4px 0 0 4px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-bottom: 0px;
}

.up-section {
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  margin: 0 0px 0 0;
  padding: 0 10px;
  background-color: rgba(151, 175, 203, 0.8);

}

.up-section h4 {
  margin: 10px 0;
  padding: 0;
}

.up-section p {
  margin: 0;
  padding: 0 0 10px 0;
}

.low-section {
  border: 1px solid black;
  border-top: solid transparent;
  border-radius: 0 0 4px 4px;
  background-color: #f1f1f1;
  margin: 0 0px 10px 0;
}

.low-section ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 0;
}

.low-section li {
  display: flex;
  flex-direction: column;
  font-weight: bold;

}

.low-section li span {
  font-weight: normal;
  font-size: 14px;
}
